{% extends '../base.html' %}

{% block css_link %}
<link href="/assets/css/board.css" rel="stylesheet" type="text/css">
{% endblock %}


{% block content %}
			<div id="board">
				<table class="tbl-ex">
					<tr>
						<th>번호</th>
						<th>제목</th>
						<th>글쓴이</th>
						<th>조회수</th>
						<th>작성일</th>
						<th>&nbsp;</th>
					</tr>

					{% for item in boardlist %}
					<tr>
						<td>{{item.no}}</td>
						<td style="text-align:left;"><a href="/board?no={{item.no}}">{{item.title}}</a></td>
						<td>{{item.user_name}}</td>
						<td>{{item.hit}}</td>
						<td>{{item.reg_date}}</td>
						<td><a href="/board/deleteform?no={{item.no}}" class="del">삭제</a></td>
					</tr>
					{% endfor %}

				</table>

				<!-- pager 추가 -->
				<div class="pager">
					<ul>
						<li>
							{% if page == 1 %}
								<span>◀</span>
							{% else %}
								<a href="/board?page={{page|add:"-1"}}">◀</a>
							{% endif %}
						</li>
						{% for i in page_range %}
							<li class="{% if i == page %}selected{% endif %}">
								{% if i <= max_page %}
									<a href="/board?page={{i}}">{{i}}</a>
								{% else %}
									{{i}}
								{% endif %}
							</li>
						{% endfor %}
						<li>
							{% if page >= max_page %}
								<span>▶</span>
							{% else %}
								<a href="/board?page={{page|add:"1"}}">▶</a>
							{% endif %}
						</li>
					</ul>

					<!-- <ul>
						<li><a href="">◀</a></li>
						<li><a href="">1</a></li>
						<li class="selected">2</li>
						<li><a href="">3</a></li>
						<li>4</li>
						<li>5</li>
						<li><a href="">▶</a></li>
					</ul> -->
				</div>
				<!-- pager 추가 -->

				<div class="bottom">
					<a href="/board/write" id="new-book">글쓰기</a>
				</div>
			</div>
{% endblock %}