{% extends '../base.html' %}

{% block css_link %}
<link href="/assets/css/board.css" rel="stylesheet" type="text/css">
{% endblock %}


{% block content %}
			<div id="user">
				<form id="login-form" name="loginform" method="post" action="/user/login">
					{% csrf_token %}

					{% if request.session.userauth != None %}
						<div>감사합니다</div>
					{% else %}
						<label class="block-label" for="email">이메일</label>
						<input id="email" name="email" type="text" value="">
						<label class="block-label" >패스워드</label>
						<input name="password" type="password" value="">
						<input type="submit" value="로그인">
					{% endif %}

					{% if request.GET.result == 'fail' %}
					<p>
						로그인이 실패 했습니다.
					</p>
					{% endif %}
				</form>
			</div>
{% endblock %}